.speechbubble {
    position: relative;
    background: #1882d3;
    margin-left: 1rem;
    border-radius: .4em;
    padding: 10px;
  }
  
  .speechbubblepointer {
    position: absolute;
  top: 10%;
  right: 80%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #1882d3;
  border-left: 0;
  border-bottom: 0;
  }